<!DOCTYPE html>
<html lang="en-US" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kingster &#8211; School, College &amp; University HTML Template</title>

    <link rel='stylesheet' href='plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style-core.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/kingster-style-custom.css' type='text/css' media='all' />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />

</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">
    <div th:replace="inc/inc-header.html :: mobile_header"></div>
    <div class="kingster-body-outer-wrapper ">
        <div class="kingster-body-wrapper clearfix  kingster-with-frame">
            <div th:replace="inc/inc-header.html :: header"></div>
            <header th:replace="inc/inc-navbar.html :: navbar"></header>



            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-not-found-wrap" id="kingster-full-no-header-wrap">
                    <div class="kingster-not-found-background"></div>
                    <div class="kingster-not-found-container kingster-container">
                        <div class="kingster-header-transparent-substitute"></div>
                        <div class="kingster-not-found-content kingster-item-pdlr">
                            <h1 class="kingster-not-found-head">404</h1>
                            <h3 class="kingster-not-found-title kingster-content-font">Page Not Found</h3>
                            <div class="kingster-not-found-caption">Sorry, we couldn&#039;t find the page you&#039;re looking for.</div>
                            <form role="search" method="get" class="search-form" action="index.html">
                                <input type="text" class="search-field kingster-title-font" placeholder="Type Keywords..." value="" name="s">
                                <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                            <div class="kingster-not-found-back-to-home"><a href="index.html">Or Back To Homepage</a></div>
                        </div>
                    </div>
                </div>
            </div>


            <footer th:replace="inc/inc-footer.html :: footer"></footer>
        </div>
    </div>


	<script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='plugins/goodlayers-core/plugins/combine/script.js'></script>
    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>
    <script type='text/javascript' src='plugins/goodlayers-core/include/js/page-builder.js'></script>
    <script type='text/javascript' src='js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>
    <script type='text/javascript' src='js/plugins.min.js'></script>
</body>
</html>