<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
</head>
<body>
	<button onclick="testPost()">Test Posting Method</button>
	<script type="text/javascript">
function testPost(){
	alert("testPost");
	var session = {
		  groupNo: "PY200107A-1",
		  sessionSeqNo: 12,
		  deliveryDate: "2020-01-23",
		  startTime: "09:00",
		  endTime: "11:00",
		  duration: 2.0,
		  sessionStatus: 0,
		  assignmentRecord: {},
		  topicRecord:{}
	};
	
	var param = JSON.stringify(session);
	console.log("session json:" + param);
	alert("session json:" + param);
	
	$.ajax({
        method: "POST",
        url: 	"http://localhost:8080/edusys/academic/acdSessions",
        data:	param,
        contentType: "application/json"

    }).done(function(data) {
        console.log("returned data:" + data);
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        alert("textStatus:" + textStatus + " errorThrown:" + errorThrown);
    }).always(function (){
        console.log("complete");
    });
}
</script>
</body>
</html>